.txt
{
border:none;
font-family:Times New Roman;
font-size: 14pt;
padding:0;
}
#noidunghopdong
{
line-height:24px;
margin-top:10px;
}
.clear
{
clear:both;
}
.cke_toolgroup .active
{
background: #ccc;
}
#divcontract,#sourcecontract
{
border: 1px solid #b6b6b6;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.borderp
{
 border:1px solid #09f; 
 box-shadow:0 0 3px rgba(0, 0, 0, 0.15);
}
#divcontract p
{
margin:0;
}
#divcontract input ,#divcontract textarea
{
	background: :#ccc !important;
	border:none;
	
}
#divcontract p:hover
{
outline: 1px solid #ccc;
box-shadow:0 0 3px rgba(0, 0, 0, 0.15);
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #000;
}
#textboxofp
{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #fff, #e4e4e4) repeat scroll 0 0 #e4e4e4;
    border-color: #a6a6a6 #a6a6a6 #979797;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    cursor: pointer;   
    margin: 0 6px 5px 0;
    color: #474747;    
    font: 13px Arial,Helvetica,Tahoma,Verdana,sans-serif;
    padding:8px;
    display: none;
}
.cke_top {
    background: -moz-linear-gradient(center top , #f5f5f5, #cfd1cf) repeat scroll 0 0 #cfd1cf;
    border: 1px solid #b6b6b6;
    padding: 6px 8px 2px;
    white-space: normal;
    display: block;
    overflow: hidden;
    background: #cfd1cf;
    border-bottom:none;
      padding: 6px 8px 2px;
  white-space: normal;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background: #cfd1cf;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#cfd1cf));
  background-image: -moz-linear-gradient(top,#f5f5f5,#cfd1cf);
  background-image: -webkit-linear-gradient(top,#f5f5f5,#cfd1cf);
  background-image: -o-linear-gradient(top,#f5f5f5,#cfd1cf);
  background-image: -ms-linear-gradient(top,#f5f5f5,#cfd1cf);
  background-image: linear-gradient(top,#f5f5f5,#cfd1cf);
    
}
.cke_button_label {
    color: #474747;
    cursor: default;   
    float: left;
    line-height: 17px;
    margin-top: 3px;
    padding-left: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    vertical-align: middle;    
    font:12px Arial,Helvetica,Tahoma,Verdana,sans-serif;
    cursor:pointer;
}
.cke_toolgroup {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #fff, #e4e4e4) repeat scroll 0 0 #e4e4e4;
    border-color: #a6a6a6 #a6a6a6 #979797;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    float: left;
    margin: 0 6px 5px 0;
    cursor:pointer;
}
.cke_source {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll 0 -1920px rgba(0, 0, 0, 0) !important;
}
.cke_bold {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll 0 -24px rgba(0, 0, 0, 0) !important;
}
.cke_deleteformat
 {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll 0 -1728px rgba(0, 0, 0, 0) !important;
}
.cke_textarea
 {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll 0 -840px rgba(0, 0, 0, 0) !important;
}
.cke_textbox
 {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll 0 -888px rgba(0, 0, 0, 0) !important;
}
.cke_italic
 {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll 0 -48px rgba(0, 0, 0, 0) !important;
}
.cke_left
 {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll 0 -1128px rgba(0, 0, 0, 0) !important;
}
.cke_center
 {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll 0 -1104px rgba(0, 0, 0, 0) !important;
}
.cke_right
 {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll  0 -1152px rgba(0, 0, 0, 0) !important;
}
.cke_justify
 {
    background: url("http://cdn.ckeditor.com/4.4.7/standard-all/plugins/icons.png") no-repeat scroll  0 -1080px rgba(0, 0, 0, 0) !important;
}
.cke_button_icon {
    background-repeat: no-repeat;
    cursor: inherit;
    display: inline-block;
    float: left;
    height: 16px;
    margin-top: 1px;
    width: 16px;
}
.cke_button {
    border: 0 none;
    cursor: default;
    display: inline-block;
    float: left;
    outline: 0 none;
    padding: 4px 6px;
    cursor:pointer;
}
.inputcontract {
    
   display:inline;
   background: #ccc;
   color:#000;    
   margin:1px;
   font-size:14pt; 
   padding:1px 10px;
}

.inputcontract[placeholder]:empty:before {
    content: attr(placeholder);
    color: #000; 
}

.inputcontract[placeholder]:empty:focus:before {
    content: attr(placeholder);
}